// License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).

// flipable card
.o_card_flip {
  height: 480px;
  color: white;
  perspective: 1000px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  .card-flip__inner {
    border: 1px solid #808080;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  h4 {
    font-size: 1.4rem !important;
    font-weight: bold;
    text-align: center;
  }
  h5 {
    text-transform: uppercase;
    font-size: 1rem;
  }
  p {
    font-size: 1rem !important;
  }
  .card-flip__front,
  .card-flip__back {
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .card-flip__front {
    background-color: theme-color('menu');
    h5 {
      align-self: end;
      text-align: right;
    }
  }
  .card-flip__back {
    background-color: theme-color('epsilon');
    transform: rotateY(180deg);
    h5 {
      text-align: center;
    }
  }
  .o_avatar img {
		width: 200px;
		height: 200px;
		overflow: hidden;
	}
  .card-flip__icons {
    width: 100%;
    padding: 1rem;
		display: flex;
		justify-content: space-evenly;

		i {
			font-size: 2.4rem;
		}
	}
  &.flippable:hover .card-flip__inner {
    transform: rotateY(180deg);
  }
}

// snippet | steps
.o_steps {
  .step {
    display: grid;
    padding: 36px 0;
    max-width: 450px;
    margin: 0 auto;
    .step-img {
      padding: 20px;
    }
    img {
      max-width: 100%;
      max-height: 300px;
      object-fit: cover;
    }
  }
  .step-info {
    position: relative;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    h3 {
      margin-bottom: 24px;
    }
    p {
        margin: 0;
    }
  }
  .step-num {
    opacity: 0.5;
    position: absolute;
    top: 0;
    font-size: 240px;
    line-height: 1;
    z-index: -1;
  }
  .step-line {
    display: none;
  }
}


@media (min-width: 900px) {
  .o_steps {
    .step {
      max-width: none;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px;
    }
    .step:nth-child(even) .step-num {
      right: 12px;
    }
  }
}
@media (min-width: 1400px) {
  .o_steps {
    .step-num {
      font-size: 30px;
      padding: 6px;
      opacity: 1;
      width: 60px;
      height: 60px;
      text-align: center;
      border-radius: 50%;
      font-weight: bold;
      line-height: 1.5;
      z-index: 1;
  
      top: 24px;
      left: -120px;
    }
    .step {
      grid-gap: 180px;
    }
    .step:nth-child(even) .step-line,
    .step:nth-child(4) .step-line {
      display: block;
      width: 30px; 
      position: absolute;
      top: 96px;
      left: -120px;
    }
    .step:nth-child(odd) .step-line {
      display: block;
      width: 24px;
      position: absolute;
      top: 96px;
      left: -90px;
    }
  }
}

