// License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl.html).

.o_avatar {
	img {
		width: 150px;
		height: 150px;
		object-fit: cover;
		border-radius: 50%;
		border: 2px solid white;
	}
}

.o_image {
	width: 100%;
	img {
		object-fit: cover;
	}
}

.o_bullets_finger {
	margin: 24px 0;
	padding: 0;
	list-style: none;
	li {
		padding: 6px 0 6px 36px;
		text-indent: -30px;
		font-size: 16px;
	}
	li::before {
		content: "👉 ";
	}
}
