html {
  box-sizing: border-box;
  transition: all 0.7s ease;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.yellow-hl {
    color: theme-color('alpha');
}
.bg-yellow {
  background-color: theme-color('alpha');
}
.dblue-hl {
    color: theme-color('menu');

}
.mono-hl {
    font-family: 'Apercu Mono', monospace; 
}

// custom styling for extendable card
.o_card_extend {

  .o_image_fluid {
    background-color: #FFF1D1;
    padding: 1rem;
    box-shadow: 3px 0 5px #e3e3e3;
    
  }
  .card-extend__text {
    box-shadow: 3px 3px 5px #e3e3e3;
  }
  p {
    color: #767676;
  }
}
.o_steps {
  .step-num {
    color: theme-color('alpha');
    opacity: 0.5;
  }
}
@media (min-width: 1400px) {
  .o_steps {
    .step-num {
      color: black;
      background-color: theme-color('alpha');
      opacity: 1;
    }
  }
}
