html {
  box-sizing: border-box;
  transition: all 0.7s ease;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.yellow-hl {
    color: theme-color('alpha');
}
.bg-yellow {
  background-color: theme-color('alpha');
}
.dblue-hl {
    color: theme-color('menu');

}
.mono-hl {
    font-family: 'Apercu Mono', monospace; 
}

// fonts
body {
  font-size: 12px !important;
}
@include media-breakpoint-up(sm) {
  body {
    font-size: 14px !important;
  }
}
@include media-breakpoint-up(md) {
  body {
    font-size: 16px !important;
  }
}
@include media-breakpoint-up(lg) {
  body {
    font-size: 18px !important;
  }
}
p, ul, a {
  line-height: 1.5 !important;
}
h1 {
  font-size: 3rem !important;
}
h2 {
  font-size: 2.4rem !important;
}
h3 {
  font-size: 1.8rem !important;
}
h4 {
  font-size: 1.5rem !important;
}
h5,
h6 {
  font-size: 1.2rem !important;
}
a {
  font-size: 1.2rem;
  text-decoration: none !important;
}
